# redis-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:6-alpine # Sử dụng image Redis ổn định
          ports:
            - containerPort: 6379
          # Nếu Redis cần mật khẩu (KHÔNG BẮT BUỘC, nhưng tốt cho bảo mật)
          # command: ["redis-server", "--requirepass", "$(REDIS_PASSWORD)"]
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret # Lấy mật khẩu từ Secret
                  key: password